<script>
  import {onMount} from 'svelte'
  import PulseButton from "./components/PulseButton.svelte";
  import Amount from "./components/Amount.svelte";
  // import AudioFiles from "./components/AudioFiles.svelte";
  import HeadFiles from "./components/HeadFiles.svelte";
  import "./helpers/points";
  // import { sayHelloIfVisible, playSound } from "./helpers";
  import { amount } from "./store";

  let appRef = null;
  export let playerWidth;
  export let myPlayer;
  console.log(playerWidth)
  // $: {
  //   if (appRef) sayHelloIfVisible(appRef, y);
  // }
  const handleVisibilityChange = () => {
    $amount = 0;
  };
  window.addEventListener("blur", handleVisibilityChange, false);
  // document.body.addEventListener("click", ()=>{
  //   if($amount === 0) {
  //     console.log('unlock')
  //     playSound(null)
  //   }
  // }, false);
  onMount(()=>{
    document.querySelector('.vjs-control-bar').style.visibility = 'hidden'
    myPlayer.pause()
    return ()=>{
      document.querySelector('.vjs-control-bar').style.visibility = 'visible'
    }
  })
</script>

<div class="sunflowerApp" bind:this={appRef}>

  <Amount clientWidth={playerWidth}/>

  <PulseButton clientWidth={playerWidth}/>
  <!-- <AudioFiles /> -->
</div>



<HeadFiles />

<style>
  
  .sunflowerApp {
    position: absolute;
    top: 32%;
    left: 20%;
    width: 21.6%;
    height: 59%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "corsica", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #191919;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
 
</style>
