<script>
  import sequence from './sequence.js'
  import Zone from './Zone.svelte'
  import Charity from "./Charity/App.svelte";
  export let playerWidth
  export let currentTime
  export let myPlayer
  export let containerRef

  const forwardEvent = (event) => {
    const newEvent = event.touches ? new TouchEvent(event.type, event) : new MouseEvent(event.type, event)
    const player = containerRef.querySelector('.vjs-player')
    if (player) player.dispatchEvent(newEvent)
  }

  const elementTypes = {
    Zone,
    Charity,
  }

  $: activeElements = sequence.reduce((memo, item) => {
    return currentTime >= item.start && currentTime <= item.end ? [...memo, item] : memo
  }, [])
  console.log(activeElements)
</script>

<div
  class="overlay"
  on:mousedown={forwardEvent}
  on:mouseup={forwardEvent}
  on:touchstart={forwardEvent}
  on:touchend={forwardEvent}
  on:mousemove={forwardEvent}
>
  {#if activeElements}
    {#each activeElements as item}
      <svelte:component this={elementTypes[item.type]} {myPlayer} {playerWidth} {item} />
    {/each}
  {/if}
</div>

<style>
  .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 56.252%;
    overflow: hidden;
  }
</style>
