<script>
  
  // import { sendMetrik, externalLink, iframeLink } from "../helpers";
  
  export let item;
  export let myPlayer;
  export let playerWidth;
 
  const onClick = (e) => {
   
    myPlayer.pause();
  };

  $: borderRadius = item.withoutBorder ? 0 : playerWidth * 0.05;

  $: style = `width:${item.width}%; left:${item.left}%; top: ${item.top}%; padding-top: ${item.paddingTop}%; border-radius:${borderRadius}px;`;

  
</script>

<a target="_blank" rel="nofollow" href={item.href} on:click={onClick}>
  <div class="zone shine" {style} class:whiteShadow={item.color === 'white'} />
  <!-- <div class="zone" style={`${style} ${whiteShadow}`} /> -->
</a>

<style>
  .zone {
    position: absolute;
    z-index: 99;

    /* background: rgba(85, 214, 230); */
  }

  .shine {
    position: absolute;

    overflow: hidden;
  }
  .shine:before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(38, 135, 244, 0.1) 45%,
      rgba(38, 135, 244, 0.5) 50%,
      rgba(38, 135, 244, 0.1) 55%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 1.5s linear infinite forwards;
  }
  .whiteShadow::before {
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.2) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.2) 55%,
      transparent 60%,
      transparent 100%
    );
  }
  @keyframes shine {
    0% {
      transform: translateX(-60%);
    }

    100% {
      transform: translateX(60%);
    }
  }
</style>
