<script>
  import logo from "../assets/logo";
  import { amount } from "../store";
  import { isSunflower } from "../helpers";
  $: isVisible = $amount;
</script>

<div
  class="credentials"
  class:isCredentialsVisible={isVisible}
  class:isSunflower>
  <a href="https://www.fondpodsolnuh.ru/">
    <img src={logo} alt="logo" />
  </a>
  <a href="https://www.fondpodsolnuh.ru/" class="credentialsText">
    Благотворительный фонд Подсолнух
  </a>

</div>

<style>
  :global(#article #sunflowerCharity a) {
    color: #f6b442 !important;
    text-decoration: none !important;
    border-bottom: none !important;
  }
  .isSunflower {
    transform: translateY(20px);
  }

  .isCredentialsVisible {
    opacity: 1;
  }
  .credentialsText {
    text-align: center;
    margin-left: 8px;
    font-size: 18px;
    color: #f6b442 !important;
    text-decoration: none;
    border-bottom: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .credentials {
    margin-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "corsica", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
</style>
