<svelte:head>
  <link
    href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css"
    rel="stylesheet" />
  <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js">
  </script>
</svelte:head>